<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>channelName</key>
		<string>安徽卫视</string>
		<key>pId</key>
		<string>2</string>
		<key>rel</key>
		<string>anhui</string>
		<key>url</key>
		<string>http://tv.cntv.cn/live/anhui</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>北京卫视</string>
		<key>pId</key>
		<string>2</string>
		<key>rel</key>
		<string>btv1</string>
		<key>url</key>
		<string>http://tv.cntv.cn/live/btv1</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>兵团卫视</string>
		<key>pId</key>
		<string>2</string>
		<key>rel</key>
		<string>bingtuan</string>
		<key>url</key>
		<string>http://tv.cntv.cn/live/bingtuan</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>重庆卫视</string>
		<key>pId</key>
		<string>2</string>
		<key>rel</key>
		<string>chongqing</string>
		<key>url</key>
		<string>http://tv.cntv.cn/live/chongqing</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>东方卫视</string>
		<key>pId</key>
		<string>2</string>
		<key>rel</key>
		<string>dongfang</string>
		<key>url</key>
		<string>http://tv.cntv.cn/live/dongfang</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>东南卫视</string>
		<key>pId</key>
		<string>2</string>
		<key>rel</key>
		<string>dongnan</string>
		<key>url</key>
		<string>http://tv.cntv.cn/live/dongnan</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>广东卫视</string>
		<key>pId</key>
		<string>2</string>
		<key>rel</key>
		<string>guangdong</string>
		<key>url</key>
		<string>http://tv.cntv.cn/live/guangdong</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>广西卫视</string>
		<key>pId</key>
		<string>2</string>
		<key>rel</key>
		<string>guangxi</string>
		<key>url</key>
		<string>http://tv.cntv.cn/live/guangxi</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>甘肃卫视</string>
		<key>pId</key>
		<string>2</string>
		<key>rel</key>
		<string>gansu</string>
		<key>url</key>
		<string>http://tv.cntv.cn/live/gansu</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>贵州卫视</string>
		<key>pId</key>
		<string>2</string>
		<key>rel</key>
		<string>guizhou</string>
		<key>url</key>
		<string>http://tv.cntv.cn/live/guizhou</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>河北卫视</string>
		<key>pId</key>
		<string>2</string>
		<key>rel</key>
		<string>hebei</string>
		<key>url</key>
		<string>http://tv.cntv.cn/live/hebei</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>河南卫视</string>
		<key>pId</key>
		<string>2</string>
		<key>rel</key>
		<string>henan</string>
		<key>url</key>
		<string>http://tv.cntv.cn/live/henan</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>黑龙江卫视</string>
		<key>pId</key>
		<string>2</string>
		<key>rel</key>
		<string>heilongjiang</string>
		<key>url</key>
		<string>http://tv.cntv.cn/live/heilongjiang</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>湖北卫视</string>
		<key>pId</key>
		<string>2</string>
		<key>rel</key>
		<string>hubei</string>
		<key>url</key>
		<string>http://tv.cntv.cn/live/hubei</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>湖南卫视</string>
		<key>pId</key>
		<string>2</string>
		<key>rel</key>
		<string>hunan</string>
		<key>url</key>
		<string>http://tv.cntv.cn/live/hunan</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>吉林卫视</string>
		<key>pId</key>
		<string>2</string>
		<key>rel</key>
		<string>jilin</string>
		<key>url</key>
		<string>http://tv.cntv.cn/live/jilin</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>江苏卫视</string>
		<key>pId</key>
		<string>2</string>
		<key>rel</key>
		<string>jiangsu</string>
		<key>url</key>
		<string>http://tv.cntv.cn/live/jiangsu</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>江西卫视</string>
		<key>pId</key>
		<string>2</string>
		<key>rel</key>
		<string>jiangxi</string>
		<key>url</key>
		<string>http://tv.cntv.cn/live/jiangxi</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>辽宁卫视</string>
		<key>pId</key>
		<string>2</string>
		<key>rel</key>
		<string>liaoning</string>
		<key>url</key>
		<string>http://tv.cntv.cn/live/liaoning</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>旅游卫视</string>
		<key>pId</key>
		<string>2</string>
		<key>rel</key>
		<string>travel</string>
		<key>url</key>
		<string>http://tv.cntv.cn/live/travel</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>内蒙古卫视</string>
		<key>pId</key>
		<string>2</string>
		<key>rel</key>
		<string>neimenggu</string>
		<key>url</key>
		<string>http://tv.cntv.cn/live/neimenggu</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>宁夏卫视</string>
		<key>pId</key>
		<string>2</string>
		<key>rel</key>
		<string>ningxia</string>
		<key>url</key>
		<string>http://tv.cntv.cn/live/ningxia</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>青海卫视</string>
		<key>pId</key>
		<string>2</string>
		<key>rel</key>
		<string>qinghai</string>
		<key>url</key>
		<string>http://tv.cntv.cn/live/qinghai</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>山东卫视</string>
		<key>pId</key>
		<string>2</string>
		<key>rel</key>
		<string>shandong</string>
		<key>url</key>
		<string>http://tv.cntv.cn/live/shandong</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>山东教育台</string>
		<key>pId</key>
		<string>2</string>
		<key>rel</key>
		<string>sdetv</string>
		<key>url</key>
		<string>http://tv.cntv.cn/live/sdetv</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>深圳卫视</string>
		<key>pId</key>
		<string>2</string>
		<key>rel</key>
		<string>shenzhen</string>
		<key>url</key>
		<string>http://tv.cntv.cn/live/shenzhen</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>陕西卫视</string>
		<key>pId</key>
		<string>2</string>
		<key>rel</key>
		<string>shan3xi</string>
		<key>url</key>
		<string>http://tv.cntv.cn/live/shan3xi</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>山西卫视</string>
		<key>pId</key>
		<string>2</string>
		<key>rel</key>
		<string>shan1xi</string>
		<key>url</key>
		<string>http://tv.cntv.cn/live/shan1xi</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>四川卫视</string>
		<key>pId</key>
		<string>2</string>
		<key>rel</key>
		<string>sichuan</string>
		<key>url</key>
		<string>http://tv.cntv.cn/live/sichuan</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>天津卫视</string>
		<key>pId</key>
		<string>2</string>
		<key>rel</key>
		<string>tianjin</string>
		<key>url</key>
		<string>http://tv.cntv.cn/live/tianjin</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>西藏卫视</string>
		<key>pId</key>
		<string>2</string>
		<key>rel</key>
		<string>xizang</string>
		<key>url</key>
		<string>http://tv.cntv.cn/live/xizang</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>厦门卫视</string>
		<key>pId</key>
		<string>2</string>
		<key>rel</key>
		<string>xiamen</string>
		<key>url</key>
		<string>http://tv.cntv.cn/live/xiamen</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>新疆卫视</string>
		<key>pId</key>
		<string>2</string>
		<key>rel</key>
		<string>xinjiang</string>
		<key>url</key>
		<string>http://tv.cntv.cn/live/xinjiang</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>香港卫视</string>
		<key>pId</key>
		<string>2</string>
		<key>rel</key>
		<string>xianggangweishi</string>
		<key>url</key>
		<string>http://tv.cntv.cn/live/xianggangweishi</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>延边卫视</string>
		<key>pId</key>
		<string>2</string>
		<key>rel</key>
		<string>yanbian</string>
		<key>url</key>
		<string>http://tv.cntv.cn/live/yanbian</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>云南卫视</string>
		<key>pId</key>
		<string>2</string>
		<key>rel</key>
		<string>yunnan</string>
		<key>url</key>
		<string>http://tv.cntv.cn/live/yunnan</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>浙江卫视</string>
		<key>pId</key>
		<string>2</string>
		<key>rel</key>
		<string>zhejiang</string>
		<key>url</key>
		<string>http://tv.cntv.cn/live/zhejiang</string>
	</dict>
</array>
</plist>
